html,
body {
  scroll-behavior: smooth;
}
@font-face {
  font-family: voyage;
  src: url(../../font/NewYork\ PERSONAL\ USE.otf);
}

.intro {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  animation: intro 2s 15s forwards;
}
@keyframes intro {
  to {
    left: 110%;
  }
}
.intro > video {
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro > header {
  height: 20vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.intro > header > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.intro > header > figure {
  width: 80%;
  padding-left: 18%;
}
.intro > header > div {
  width: 20%;
}
.intro > header > div > a {
  z-index: 1;
  width: 70%;
  height: 50%;
  border-radius: 50px;
  border: 1px solid rgba(245, 245, 245, 0.629);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: voyage;
  font-size: 25px;
  transition: 0.4s;
}
.intro > header > div > a > strong {
  transform: translate(10%, 5%);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 200;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.intro > header > div > a:hover {
  border: 1px solid rgba(245, 245, 245, 0.486);
  color: rgba(245, 245, 245, 0.582);
}
.intro > div {
  position: absolute;
  top: 28%;
  left: 6%;
  width: 85%;
  height: 60%;
}
.intro > div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
}
.intro > div:nth-of-type(1) > div {
  height: 100%;
  width: 48%;
  display: flex;
  position: relative;
}
.intro > div:nth-of-type(1) > div > h3 {
  position: absolute;
}
.intro > div:nth-of-type(1) > div:nth-of-type(1) > h3 {
  font-size: 78px;
  font-family: voyage;
  color: whitesmoke;
  animation: left 12s forwards;
}
@keyframes left {
  0% {
    opacity: 0;
    left: 0;
    bottom: 0;
  }
  20%, 50% {
    opacity: 1;
    bottom: 50%;
    left: 0;
  }
  80%, 100% {
    opacity: 0;
    left: 0;
    bottom: 100%;
  }
}
.intro > div:nth-of-type(1) > div:nth-of-type(2) > h3 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 65px;
  color: rgba(245, 245, 245, 0.786);
}
.intro > div:nth-of-type(1) > div:nth-of-type(2) > h3:nth-of-type(1) {
  animation: one 10s forwards;
}
.intro > div:nth-of-type(1) > div:nth-of-type(2) > h3:nth-of-type(2) {
  animation: two 10s forwards;
}
.intro > div:nth-of-type(1) > div:nth-of-type(2) > h3:nth-of-type(3) {
  animation: three 10s forwards;
}
@keyframes one {
  0%, 20% {
    opacity: 0;
    left: 0;
    bottom: 0;
  }
  30% {
    opacity: 1;
    bottom: 40%;
    left: 0;
  }
  50%, 100% {
    opacity: 0;
    left: 0;
    bottom: 100%;
  }
}
@keyframes two {
  0%, 35% {
    opacity: 0;
    left: 0;
    bottom: 0;
  }
  45% {
    opacity: 1;
    bottom: 40%;
    left: 0;
  }
  65%, 100% {
    opacity: 0;
    bottom: 100%;
    left: 0;
  }
}
@keyframes three {
  0%, 50% {
    opacity: 0;
    left: 0;
    bottom: 0;
  }
  60% {
    opacity: 1;
    bottom: 50%;
    left: 0;
  }
  80%, 100% {
    opacity: 0;
    left: 0;
    bottom: 100%;
  }
}
.intro > div:nth-of-type(2) {
  display: flex;
}
.intro > div:nth-of-type(2) > h3 {
  position: absolute;
  font-size: 78px;
  font-family: voyage;
  color: whitesmoke;
  bottom: 0;
  opacity: 0;
}
.intro > div:nth-of-type(2) > h3:nth-of-type(1) {
  left: 7%;
  animation: next 5s 8s forwards;
}
.intro > div:nth-of-type(2) > h3:nth-of-type(2) {
  left: 25%;
  animation: next2 5s 12s forwards;
}
.intro > div:nth-of-type(2) > h3:nth-of-type(2) > strong {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 55px;
  font-family: Arial;
}
@keyframes next {
  50% {
    opacity: 1;
    bottom: 50%;
    left: 7%;
  }
  80%, 100% {
    opacity: 0;
    left: 7%;
    bottom: 100%;
  }
}
@keyframes next2 {
  50%, 100% {
    opacity: 1;
    bottom: 50%;
    left: 25%;
  }
}
.intro > div:nth-of-type(3) {
  width: 7%;
  height: 5%;
  border-radius: 5px;
  border: 2px solid white;
  top: 86%;
  left: 88%;
}
.intro > div:nth-of-type(3) > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.team {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid black;
  animation: team 2s 15.5s forwards;
}
@keyframes team {
  to {
    margin-top: -49%;
  }
}
.team > header {
  height: 20vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.team > header > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.team > header > figure {
  width: 80%;
  padding-left: 18%;
}
.team > header > div {
  width: 20%;
}
.team > header > div > a {
  z-index: 1;
  width: 70%;
  height: 50%;
  border-radius: 50px;
  border: 1px solid rgba(3, 3, 3, 0.523);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: voyage;
  font-size: 25px;
  transition: 0.4s;
}
.team > header > div > a > strong {
  transform: translate(10%, 5%);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 200;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.team > header > div > a:hover {
  border: 1px solid rgba(9, 9, 9, 0.486);
  color: rgba(6, 6, 6, 0.582);
}
.team > div {
  position: absolute;
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team > div > * {
  width: 100%;
}
.team > div > h2 {
  font-size: 78px;
  font-family: voyage;
  color: rgba(0, 0, 0, 0.821);
  transform: scaleY(1.3);
  font-weight: 200;
}
.team > div > p {
  font-size: 20px;
  line-height: 25px;
  color: rgba(68, 68, 68, 0.8);
}
.team > div:nth-of-type(1) {
  top: 20%;
  left: 10%;
  animation: first 5s 17s forwards;
}
.team > div:nth-of-type(1) > h2 {
  padding-right: 48%;
}
.team > div:nth-of-type(1) > h2 > strong {
  font-weight: 200;
}
.team > div:nth-of-type(1) > h2 > strong:nth-of-type(1) {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #78e2f2, #fe7ce8, rgb(255, 156, 173), orange);
}
.team > div:nth-of-type(1) > h2 > strong:nth-of-type(2) {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  color: rgb(49, 49, 49);
}
.team > div:nth-of-type(1) > p {
  padding-right: 60%;
}
@keyframes first {
  40% {
    opacity: 1;
    top: 20%;
    left: 10%;
  }
  100% {
    opacity: 0;
    top: -100%;
    left: 10%;
  }
}
.team > div:nth-of-type(2) {
  bottom: -10%;
  right: 2%;
  opacity: 0;
  animation: second 5s 20s forwards;
}
.team > div:nth-of-type(2) > h2 {
  padding-right: 20%;
}
.team > div:nth-of-type(2) > h2 > strong {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 55px;
  font-weight: 100;
  text-transform: uppercase;
}
.team > div:nth-of-type(2) > p {
  padding-right: 52%;
}
@keyframes second {
  40% {
    opacity: 1;
    bottom: 5%;
    right: 2%;
  }
  100% {
    opacity: 0;
    bottom: 100%;
    right: 2%;
  }
}
.team > div:nth-of-type(3) {
  bottom: -10%;
  right: 12%;
  opacity: 0;
  animation: third 5s 24s forwards;
}
.team > div:nth-of-type(3) > h2 {
  padding-right: 20%;
}
.team > div:nth-of-type(3) > h2 > strong {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 55px;
  font-weight: 100;
  text-transform: uppercase;
}
.team > div:nth-of-type(3) > p {
  padding-right: 52%;
}
@keyframes third {
  40%, 100% {
    opacity: 1;
    bottom: 15%;
    right: 12%;
  }
}
.team > span {
  font-size: 350px;
  font-family: voyage;
  color: rgba(73, 73, 73, 0.075);
  position: absolute;
}
.team > span:nth-of-type(1) {
  text-transform: uppercase;
  top: 20%;
  left: 5%;
  animation: spans 10s 17s forwards;
}
@keyframes spans {
  to {
    transform: rotate(360deg);
    top: -100%;
  }
}
.team > span:nth-of-type(2) {
  top: 80%;
  left: 50%;
  animation: spans 15s 17s forwards;
}
.team > span:nth-of-type(3) {
  top: 100%;
  left: 70%;
  animation: spans 25s 17s forwards;
}
.team > span:nth-of-type(4) {
  top: 120%;
  left: 20%;
  animation: spans 30s 17s forwards;
}
.team .link {
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  bottom: 3%;
  left: 49%;
  animation: link 1s alternate infinite;
}
.team .link > a {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  transform: rotate(90deg);
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgb(108, 174, 235), rgb(246, 143, 160), hotpink 95%, orange);
}
@keyframes link {
  to {
    bottom: 5%;
  }
}

.market {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 100%;
  left: 0;
}
.market > header {
  z-index: 5;
  height: 20vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.market > header > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.market > header > figure {
  width: 80%;
  padding-left: 18%;
}
.market > header > div {
  width: 20%;
}
.market > header > div > a {
  z-index: 1;
  width: 70%;
  height: 50%;
  border-radius: 50px;
  border: 1px solid rgba(3, 3, 3, 0.523);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: voyage;
  font-size: 25px;
  transition: 0.4s;
}
.market > header > div > a > strong {
  transform: translate(10%, 5%);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 200;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.market > header > div > a:hover {
  border: 1px solid rgba(9, 9, 9, 0.486);
  color: rgba(6, 6, 6, 0.582);
}
.market .color {
  position: absolute;
  top: 10%;
  left: 29%;
  width: 40%;
  height: 0;
  opacity: 0;
  background-image: linear-gradient(to top, #78e2f2, #fe7ce8, rgb(255, 156, 173), rgb(249, 134, 52));
  animation: color 10s alternate infinite;
}
@keyframes color {
  0% {
    opacity: 0;
    width: 40%;
    height: 0;
  }
  30%, 100% {
    opacity: 1;
    width: 40%;
    height: 83%;
  }
}
.market .lines {
  position: absolute;
  top: 25%;
  width: 150vw;
  animation: lines 20s linear infinite;
}
@keyframes lines {
  0% {
    opacity: 1;
    right: -150%;
  }
  99% {
    right: 120%;
    opacity: 1;
  }
  99.5% {
    right: 120%;
    opacity: 0;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}
.market .lines > h3 {
  font-family: Playfair;
  font-weight: 100px;
  font-size: 175px;
  color: rgb(40, 40, 40);
  width: 100%;
  height: 30%;
  line-height: 150px;
}
.market .lines > h3 > strong {
  font-size: 130px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}
.market .lines > h3:nth-of-type(2) {
  text-align: center;
}
.market .lines > h3:nth-of-type(3) {
  text-align: right;
}
.market > figure {
  width: 25%;
  height: 75%;
  position: absolute;
  bottom: 0;
  left: 37%;
}
.market > figure > img {
  width: 100%;
  height: 100%;
}

.metaverse {
  overflow: hidden;
  margin-top: 5%;
  width: 100%;
  height: 80vh;
  position: relative;
}
.metaverse > h4 {
  top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  font-family: voyage;
  font-size: 50px;
  font-weight: 100;
  color: rgb(48, 48, 48);
}
.metaverse > div {
  width: 150vw;
  position: absolute;
  flex-wrap: nowrap;
}
.metaverse > div > figure {
  margin: 10px;
  height: 100%;
}
.metaverse > div:nth-of-type(1) {
  top: 28%;
  left: 100%;
  animation: meta1 10s linear infinite;
}
@keyframes meta1 {
  0% {
    opacity: 1;
    left: 100%;
  }
  99% {
    left: -150%;
    opacity: 1;
  }
  99.5% {
    left: -150%;
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
.metaverse > div:nth-of-type(2) {
  top: 56%;
  right: 100%;
  animation: meta2 10s linear infinite;
}
@keyframes meta2 {
  0% {
    opacity: 1;
    right: 100%;
  }
  99% {
    right: -150%;
    opacity: 1;
  }
  99.5% {
    right: -150%;
    opacity: 0;
  }
  100% {
    right: 100%;
    opacity: 0;
  }
}

.ceo {
  height: 100vh;
  width: 100%;
  position: relative;
  margin-top: 5%;
}
.ceo > video {
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ceo > header {
  height: 20vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ceo > header > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.ceo > header > figure {
  width: 80%;
  padding-left: 18%;
}
.ceo > header > div {
  width: 20%;
}
.ceo > header > div > a {
  z-index: 1;
  width: 70%;
  height: 50%;
  border-radius: 50px;
  border: 1px solid rgba(245, 245, 245, 0.629);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: voyage;
  font-size: 25px;
  transition: 0.4s;
}
.ceo > header > div > a > strong {
  transform: translate(10%, 5%);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 200;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.ceo > header > div > a:hover {
  border: 1px solid rgba(245, 245, 245, 0.486);
  color: rgba(245, 245, 245, 0.582);
}
.ceo .member {
  height: 60vh;
  width: 80%;
  position: absolute;
  top: 35%;
  left: 9%;
  overflow: hidden;
  justify-content: center;
}
.ceo .member > figure {
  position: absolute;
  width: 350px;
  height: 400px;
  margin: 20px;
  top: 0%;
  left: 100%;
}
.ceo .member > figure > img {
  border-radius: 10px;
  height: 90%;
  width: 100%;
}
.ceo .member > figure > span {
  background-color: rgba(155, 151, 151, 0.351);
  display: flex;
  height: 50px;
  width: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: -22px;
  left: 36%;
  border-radius: 30px;
}
.ceo .member > figure:nth-of-type(5) > span {
  width: 250px;
  left: 15%;
}
.ceo .member > figure > figcaption {
  color: white;
  font-family: voyage;
  text-transform: capitalize;
  font-size: 40px;
  position: absolute;
  bottom: -5%;
  left: 0;
}
.ceo .member > figure:nth-of-type(1) {
  animation: member 10s linear infinite;
}
.ceo .member > figure:nth-of-type(2) {
  animation: member 10s 3.25s linear infinite;
}
.ceo .member > figure:nth-of-type(3) {
  animation: member 10s 6.5s linear infinite;
}
@keyframes member {
  0% {
    opacity: 1;
    left: 100%;
  }
  3%, 30% {
    opacity: 1;
    left: 66%;
  }
  36%, 63% {
    opacity: 1;
    left: 33%;
  }
  69%, 96% {
    left: 0%;
    opacity: 1;
  }
  99.999% {
    left: -50%;
  }
  100% {
    opacity: 0;
    left: 100%;
  }
}
.ceo > h2 {
  position: absolute;
  top: 18%;
  left: 41%;
  color: white;
  font-size: 100px;
  text-transform: capitalize;
  font-family: voyage;
  font-weight: 100;
}

.foot {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.foot > video {
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.foot > figure {
  position: absolute;
  top: 3%;
  left: 41%;
  width: 18%;
  height: 20vh;
}
.foot > figure > img {
  width: 100%;
  height: 100%;
}
.foot > h2 {
  font-size: 85px;
  color: white;
  position: absolute;
  top: 30%;
  left: 36%;
  font-weight: 200;
  text-transform: capitalize;
  font-family: voyage;
}
.foot > ul {
  width: 20%;
  height: 60%;
  position: absolute;
  bottom: -10%;
  left: 8%;
  align-items: center;
  padding: 9% 0;
}
.foot > ul > li {
  width: 100%;
}
.foot > ul > li > a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  font-size: 20px;
  justify-content: start;
  align-items: center;
  transition: 0.4s;
}
.foot > ul > li > a:hover {
  color: rgba(255, 255, 255, 0.667);
}
.foot > h3 {
  font-family: voyage;
  font-size: 30px;
  color: white;
  text-transform: capitalize;
  position: absolute;
  bottom: 2%;
  left: 36%;
}
.foot > div {
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  display: flex;
  width: 25%;
  height: 45%;
  transition: 0.4s;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
.foot > div:nth-of-type(1) {
  top: 38%;
  left: 40%;
  transform: perspective(800px) rotateY(20deg);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  animation: insta 3s alternate infinite;
}
@keyframes insta {
  to {
    transform: perspective(800px) rotateY(-20deg);
  }
}
.foot > div:nth-of-type(2) {
  top: 18%;
  left: 20%;
  transform: perspective(800px) rotateY(-20deg);
  border-radius: 50%;
  animation: twitter 3s alternate infinite;
}
@keyframes twitter {
  to {
    transform: perspective(800px) rotateY(20deg);
    width: 22%;
    height: 42%;
  }
}
.foot > div:nth-of-type(3) {
  top: 18%;
  left: 59%;
  width: 22%;
  transform: perspective(800px) rotateX(20deg);
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  animation: linkedin 3s alternate infinite;
}
@keyframes linkedin {
  to {
    transform: perspective(800px) rotateX(-20deg);
  }
}
.foot > div > i {
  transition: 0.4s;
  color: white;
  font-size: 115px;
}
.foot > div:hover {
  background-color: rgba(255, 255, 255, 0.418);
}/*# sourceMappingURL=master.css.map */